body {  
    
    background: #e7e7e0;   
}

.conteiner{
    position: relative;
    width: 940px;
    margin: 0 auto;
}
.Imagem-header{     
    
    width: 200px;
    margin:10px 340px 0px 340px;
    pointer-events: none;
}
main { 
    position: relative;
    background-color:  #0084B2;
    width: 940px;
    height: 450px;
    margin: 20px auto -20px auto;
    border: 2px solid #004d6b; 
    border-radius: 25px;       
}

.titulo-criptografar {
    position: absolute;
    left: 20%;
    top: 50px;
    margin: 55px auto;
    
}
.titulo-letras-minuscula {
    position: absolute;
    font-size: 18px;
    color: #ffffff;
    font-weight: bolder;   
    left:17%;    
    top: 1px;
    padding: 10px;
    margin: 13px auto;
}
.texto-area-usuario {    
    position: absolute;
    width: 30%;
    left: 15%;     
    padding: 20px;
    border: 2px solid #004d6b;   
    border-radius: 10px;   
    margin:60px auto;
}
.titulo-descriptografia {
    position: absolute;
    right: 15%;
    top: 50px;
    margin: 55px auto;          
}
.area-criptografia {
    position: absolute; 
    width: 20%;   
    right: 15%;   
    height: 300px;
    padding: 20px;
    border: 2px solid #004d6b; 
    border-radius: 10px;     
    margin: 20px auto;  
    pointer-events: none;  
}

.button-criptografar {
    background-color: #26C6BD; 
    position: absolute;
    width: auto;
    top: 337px; 
    right: 70%;
    margin: 0 10px 0 10px;
    padding: 10px 25px;
    color: #004d6b;
    font-size: 18px;
    font-weight: bolder;
    border: 2px solid #015e83;
    border-radius: 10px;  
    font-size: 16px;
    cursor: pointer;    
}
.button-criptografar:hover {
    background-color: #0092cc;
}
.button-criptografar:active {
    background-color: #007bac;
}
.button-descriptografar {   
    background-color: #26C6BD; 
    position: absolute;
    width: auto;
    top: 337px; 
    left: 32%;
    margin: 0 10px 0 10px;
    padding: 10px 25px;
    color: #004d6b;
    font-size: 18px;
    font-weight: bolder;
    border: 2px solid #015e83;
    border-radius: 10px;      
    font-size: 16px;   
    cursor: pointer;  
}
.button-descriptografar:hover {
    background-color: #0092cc;
 }
 .button-descriptografar:active {
    background-color: #007bac;
}
.button-copiar {
    background-color: #26C6BD;
    position: absolute;
    color: #004d6b;    
    font-size: 18px;
    font-weight: bolder;
    width: auto;
    top: 374px; 
    left: 66%;
    margin: 0 10px 0 10px;
    padding: 10px 25px;
    border: 2px solid #015e83;
    border-radius: 10px;  
    font-size: 16px;  
    cursor: pointer; 

}
.button-copiar:hover {
   background-color: #0092cc;   
}
.button-copiar:active {
    background-color: #007bac;
}

footer {
   position: absolute;
    width: 100%; 
    height: 350px;    
    background-color: #004d6b;
    text-align: center;
    color: #fffafa;
}
.imagem-footer {

    text-align: center;
    margin: 10px 0 20px 0;
    width: 250px;
    pointer-events: none;    
}
   
